*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Laravel específico
bootstrap/cache/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

# Base de datos SQLite
database/database.sqlite
database/*.sqlite

# Docker
.dockerignore
docker-compose.override.yml

# NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Assets compilados
public/css/app.css
public/js/app.js
public/mix-manifest.json
